body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
}
.container .topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    height: 10%;
}

.container .topo .barra-pesquisa{
    width: 700px;
    border: 1px solid #cecece;
    padding: 5px 10px;
    border-radius: 4px;


}
.container .topo .barra-pesquisa .pesquisa{
    display: flex;
    align-items: center;
    gap: 10px;

}
.container .topo .barra-pesquisa .pesquisa input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.container .topo .perfil{
    display: flex;
    align-items: center;
    gap: 20px;
}
.container .topo .perfil img{
    border-radius: 100%;
}
.container .content{
    display: flex;
    width: 100%;
    height: 90%;
}
.container .side-menu{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container .side-menu .opcoes{
    width: 100%;
    height: auto;

}
.container .side-menu .opcoes .opcao{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: rgb(98, 96, 96);
    transition: all 300ms ease;
}
.container .side-menu .opcoes .opcao .icone{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .side-menu .opcoes .opcao span{
    font-size: 14px;
    font-weight: bold;
    
}
#selected{
    color: black;
    border-left: 5px solid #2a42ca;
}
.container .side-menu button{
    width: 70%;
    height: 30px;
    border: none;
    background-color: #2a42ca;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
}
.container .side-menu .opcoes .opcao:hover{
    background-color: #e3dede;
    cursor: pointer;  
}
.container .side-menu .opcoes .opcao .conteudo{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

}
.container .side-menu .opcoes .opcao .conteudo i{
    font-size: 10px;
}
.container .side-menu button:hover{
    background-color: white;
    border: 2px solid#2a42ca;
    cursor: pointer;
    color: #2a42ca;
    transition: all 300ms ease;
}
.container .content .main-content {
width: 80%;
height: 100%;
background-color: #edf1f6;
padding: 20px;
}
.container .content .main-content .banner{
    width: 100%;
    height: 40px;
    background-color: #3e55d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0 15px;
}
.container .content .main-content .banner .star{
    display: flex;
    gap: 5px;
    color: white;
    align-items: center;
    font-size: 13px;
}
.container .content .main-content .banner a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.container .content .main-content .cards{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    
}
.container .content .main-content .cards .card{
    width: 23%;
    height: 80px;
    border: 1px solid grey;
    border-radius: 8px;
    display: flex;
}
.container .content .main-content .cards .card .esquerda{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .content .main-content .cards .card .direita{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
    font-size: 14px;
    font-weight: bold;
    color: #5a5a5a;
}
.container .content .main-content .cards .card .direita h3{
    color: black;
}
.container .content .main-content .cards .card .esquerda .icone{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
}
#um .esquerda .icone{
    background-color: #fdceaa;
    color: orangered;
}
#dois .esquerda .icone{
    background-color: rgb(87, 230, 87);
    color: green;
}
#tres .esquerda .icone{
background-color: rgb(110, 110, 234);
color: rgb(16, 16, 241);
}
#quatro .esquerda .icone{
background-color: rgb(172, 223, 228);
color: rgb(80, 140, 146);
}
.container .content .main-content .content-tabela{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.container .content .main-content .content-tabela table{
    width: 100%;
    border: 1px solid #9d9b9b;
    border-radius: 8px;
    background-color: white;
    border-collapse: collapse;
    overflow: hidden;
}
.container .content .main-content .content-tabela table thead{
    background-color: #d7d7d7;
    color: #7b7b7b;  
    height: 30px;
    font-size: 12px;
    
}
.container .content .main-content .content-tabela table thead th{
    text-align: left;
    padding-left: 5px;
}

.container .content .main-content .content-tabela table tbody{
    font-size: 12px;
    color: #323232;

}
.container .content .main-content .content-tabela table tbody tr{
    border: 1px solid #949494;

}
.container .content .main-content .content-tabela table tbody tr td .cliente{
    line-height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 5px;
    padding-left: 5px;
}
.container .content .main-content .content-tabela table tbody tr td .status{
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}
#aprovado{
    background-color: rgb(87, 230, 87);
    color: green;
    
}
#negado{
    background-color: rgb(207, 103, 103);
    color: red ;
}
#pendente{
    background-color: rgb(244, 147, 112);
    color: orangered;
}